ClienteAgenda/App_WebReferences/ServicioAgenda/ContactoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarContacto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarContactoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarContactoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactos">
        <s:complexType />
      </s:element>
      <s:element name="GetContactosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactosResult" type="tns:ArrayOfContacto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContacto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contacto" nillable="true" type="tns:Contacto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contacto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContactoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarContactoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarContacto" />
  </wsdl:message>
  <wsdl:message name="InsertarContactoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarContactoResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactosSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactos" />
  </wsdl:message>
  <wsdl:message name="GetContactosSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactosResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="ContactoWebServiceSoap">
    <wsdl:operation name="InsertarContacto">
      <wsdl:input message="tns:InsertarContactoSoapIn" />
      <wsdl:output message="tns:InsertarContactoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactos">
      <wsdl:input message="tns:GetContactosSoapIn" />
      <wsdl:output message="tns:GetContactosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactoWebServiceSoap" type="tns:ContactoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarContacto">
      <soap:operation soapAction="http://tempuri.org/InsertarContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactos">
      <soap:operation soapAction="http://tempuri.org/GetContactos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactoWebServiceSoap12" type="tns:ContactoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarContacto">
      <soap12:operation soapAction="http://tempuri.org/InsertarContacto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactos">
      <soap12:operation soapAction="http://tempuri.org/GetContactos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactoWebService">
    <wsdl:port name="ContactoWebServiceSoap" binding="tns:ContactoWebServiceSoap">
      <soap:address location="http://localhost:53860/WebServices/ContactoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContactoWebServiceSoap12" binding="tns:ContactoWebServiceSoap12">
      <soap12:address location="http://localhost:53860/WebServices/ContactoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>